{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestão financeira{% endblock %}</title>
    <!-- font do google -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- Estilo bootstrap por cdn -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

</head>
<body>
    <!-- Inicio Menu -->
    <nav>
        <div class="nav-wrapper">
          <a href="/gastos" class="brand-logo">Finanças</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/gastos/cadastrar">Cadastrar Gasto</a></li>
            <li><a href="/gastos/categoria">Cadastrar Categoria</a></li>
          </ul>
        </div>
    </nav>

    <!-- Final Menu -->
    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


</body>

</html>