{% extends 'base.html' %}

{% block title %} Cadastrar Categoria {% endblock %}
{% block content %}
<form action="categoria" method="post" class="form-inline">
    {% csrf_token %}
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="nome" placeholder="Nova Categoria">
    <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>
</form>

<ul class="list-group">
    <h2>Categorias</h2>
        {% for categoria in categorias %}
        <li class="list-group-item">{{ categoria.nome }}</li>
        {% endfor %}
</ul>
{% endblock %}