{% extends 'base.html' %}


{% block content %}

<h2>Cadastrar nova categoria</h2>

<form action="categoria" method="post" class="form-inline">
    <div class="form-group mb-2">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
     <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
</form>
<ul class="list-group">
    <h2>Categorias</h2>
    {% for categoria in categorias %}
        <li class="list-group-item">{{ categoria.nome }}</li>
    {% endfor %}
</ul>
{% endblock %}