{% extends 'base.html' %}

{% block content %}

<h3>Controle de gasto do mês</h3><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Cadastrar Gasto
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Gasto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="cadastrar" method="post">
              {% csrf_token %}
             <div class="form-group">
                 {{ form.categoria }}
                <select class="form-control" name="categoria">
                  {% for categoria in categorias %}
                  <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                  {% endfor %}
                </select>
             </div>
             <div class="form-group">
                 <input type="text" class="form-control" name="descricao" placeholder="Descrição">
             </div>
             <div class="form-group">
                 <input type="text" class="form-control" name="valor" placeholder="Valor">
             </div>

             <div class="form-group">
                <input type="date" class="form-control" name="vencimento" placeholder="Vencimento">
             </div>

             <select class="form-control" name="status">
                 {% for gasto in gastos %}
                  <option value="{{ gasto.status }}">{{ gasto.status }}</option>
                 {% endfor %}
              </select>
              <button type="submit" class="btn btn-primary">Salvar</button>
          </form>

      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Descrição do gasto</th>
            <th scope="col">Valor</th>
            <th scope="col">Vecimento</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.categoria }}</td>
            <td>{{ gasto.descricao }}</td>
            <td>{{ gasto.valor }}</td>
            <td>{{ gasto.vencimento|date:'d-m-Y' }}</td>
            <td>{{ gasto.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}