{% extends 'base.html' %}

{% block content %}
<h3>Controle de gasto do mês</h3><br>

<table class="striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descrição do gasto</th>
            <th>Valor</th>
            <th>Vecimento</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.categoria }}</td>
            <td>{{ gasto.descricao }}</td>
            <td>{{ gasto.valor }}</td>
            <td>{{ gasto.vencimento|date:'d-m-Y' }}</td>
            <td>{{ gasto.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}